<!-- <app-add-todo-form (newTodoEvent)="addTodo($event)"> </app-add-todo-form> -->
<app-add-todo-reactive-form (newTodoEvent)="addTodo($event)"> </app-add-todo-reactive-form>

<ol *ngFor="let todo of todos; let i = index" class="list-group">
  <li
    *ngIf="!todo.editing"
    class="list-group-item d-flex justify-content-between align-items-start"
  >
    <div class="ms-3 me-auto">
      <div class="content {{ todo.completed ? 'done' : '' }}">
        {{ i + 1 }}. {{ todo.content }}
      </div>
    </div>
    <button
      class="btn btn-{{
        todo.completed ? 'warning' : 'success'
      }} btn-sm completed"
      (click)="toggleDone(i)"
    >
      <i class="bi bi-check-circle"></i>
    </button>
    <button class="btn btn-secondary btn-sm editing" (click)="toggleEdit(i)">
      <i class="bi bi-pencil-square"></i>
    </button>
    <button class="btn btn-danger btn-sm" (click)="deleteTodo(i)">
      <i class="bi bi-trash-fill"></i>
    </button>
  </li>
  <li
    *ngIf="todo.editing"
    class="list-group-item d-flex justify-content-between align-items-start"
  >
    <div class="ms-3 me-auto">
      <div class="content">
        <input type="text" [(ngModel)]="todo.content" />
      </div>
    </div>

    <button class="btn btn-success btn-sm" (click)="toggleEdit(i)">
      <i class="bi bi-save"></i>
    </button>
  </li>
</ol>
