<form [formGroup]="addTodoForm" (ngSubmit)="addTodo()">
  <div class="input-group mb-3">
    <span
      *ngIf="isSubmitted && inputTodo?.errors?.required"
      class="alert alert-danger"
    >
      Required!
    </span>
    <span
      *ngIf="isSubmitted && inputTodo?.errors?.minlength"
      class="alert alert-warning"
    >
      Todo inputted must be at least
      {{ inputTodo?.errors?.minlength.requiredLength }} characters.
    </span>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      name="inputTodo"
      id="inputTodo"
      placeholder="Enter todo..."
      class="form-control"
      formControlName="inputTodo"
      (change)= handleIsSubmittedState()

    />

    <button
      name="Add Todo"
      class="btn btn-primary"
      >
      <!-- [disabled]="!addTodoForm.valid" -->
      Submit
    </button>
  </div>
  
</form>
