<h1>Test Angular</h1>
<!-- <comp-aside></comp-aside>


<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul> -->
<!-- <app-button [message]="message" (newItemEvent)="addItemInParent($event)"></app-button> -->
<!-- <app-button 
    [message]="messageParent" 
    (newItemEvent)="addItemInParent($event)" 
    (clickAddHandler)="addCounter()" 
    (clickDecHandler)="decCounter()">
</app-button> -->

<!-- interpolesion -->
<!-- <p>{{counter}} click</p> -->

<!-- <app-table></app-table>

<label>
    Say Something:
    <input #msg>{{msg.value}}>
</label> -->

<ul>
    <ng-template ngFor let-person [ngForOf]="people">
        <ng-template [ngIf] = "person.country !== 'Incheon' && person.country !== 'Songjeong' && person.country !== 'Seoul'">
            <li class="text-blue">{{person.name}} - {{person.age}} - {{person.country}}</li>
        </ng-template>
        <ng-template [ngIf] = "person.country === 'Incheon'">

            <li class="text-red">{{person.name}} - {{person.age}} - {{person.country}}</li>
        </ng-template>
        <ng-template [ngIf] = "person.country === 'Songjeong'">

            <li class="text-pink">{{person.name}} - {{person.age}} - {{person.country}}</li>
        </ng-template>
        <ng-template [ngIf] = "person.country === 'Seoul'">

            <li class="text-green">{{person.name}} - {{person.age}} - {{person.country}}</li>
        </ng-template>
        
    </ng-template>
</ul>

<h2>ngModel</h2>
<label>italic: <input type="checkbox" [(ngModel)]="isItalic"></label> | <label>normal: <input type="checkbox" [(ngModel)]="isBold"></label>

<div>
    {{isItalic ? "italic" : "plain"}},
    {{isBold ? "normal weight" : "bold"}}
</div>

<h3>
    {{people | json}}
</h3>

<h4>
    {{782034912 | customFileSize: 'GB'}}
</h4>

